<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>BOOKflex</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid p-3 mb-1 bg-light text-dark centered">
    <h2 class="text-center" id="countDistinct"></h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="mx-auto" style="width: 400px;">
      <form th:action="@{/books}">
        <div class="row d-flex">
          <div id="flexbox" class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">&#128270;</span>
            <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control" placeholder="Enter book keyword">
            <button type="submit" class="btn btn-secondary">Search</button>
            <a type="button" class="btn btn-info" th:href="@{/books}">Clear</a>
          </div>
        </div>
      </form>
    </div>

    <div th:if="${books.size() > 0}">
      <table class="table table-hover table-responsive-xl caption">
        <caption>List of books in inventory</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Inventory Level</th>
            <th scope="col">Published</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="book : ${books}">
            <th scope="row"></th>
            <td>[[${book.title}]]</td>
            <td>[[${book.description}]]</td>
            <td id="copies">[[${book.level}]]</td>
            <td>
              <a th:if="${book.published == true}" class="fa-regular fa-square-check action-nonpublished"
                th:href="@{'/books/' + ${book.id} + '/published/false'}" title="Disable this book"></a>
              <a th:if="${book.published == false}" class="fa-regular fa-square action-published"
                th:href="@{'/books/' + ${book.id} + '/published/true'}" title="Enable this book"></a>
            </td>
            <td>
              <a th:href="@{'/books/' + ${book.id}}" title="Edit this book"
                class="fa-regular fa-solid fa-pen action-edit"></a>
              &nbsp;
              <a th:href="@{'/books/delete/' + ${book.id}}" th:bookTitle="${book.title}" id="btnDelete"
                title="Delete this book" class="fa-regular fa-sharp fa-solid fa-trash action-delete btn-delete"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="" th:unless="${books.size() > 0}">
      <span>No book in inventory matches your search criteria!</span>
    </div>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">

    /* table row index */

    const table = document.getElementsByTagName('table')[0];
    const rows = table.getElementsByTagName('tr');
    const text = 'textContent' in document ? 'textContent' : 'innerText';

    for (let i = 1, len = rows.length; i < len; i++) {
    rows[i].children[0][text] = i + rows[i].children[0][text];
    }

    /* h2 tag - count books */

    const disBooks = rows.length - 1;
    document.getElementById("countDistinct").innerHTML = `Books in inventory: ${disBooks}`

    /* delete button */

    $(document).ready(function () {
      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        bookTitle = link.attr("bookTitle");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the book \<strong\>" + bookTitle + "\<\/strong\>?");
        $("#confirmModal").modal();
      });
    });

    /* clock */

    function currentTime() {

      let date = new Date();
      let hh = date.getHours();
      let mm = date.getMinutes();
      let ss = date.getSeconds();
      let session = "AM";

      if (hh > 12) {
          session = "PM";
      }

      hh = (hh < 10) ? "0" + hh : hh;
      mm = (mm < 10) ? "0" + mm : mm;
      ss = (ss < 10) ? "0" + ss : ss;

      let time = hh + ":" + mm + ":" + ss + " " + session;

      document.getElementById("clock").innerText = time;

      var t = setTimeout(function () { currentTime() }, 1000);

      }

    currentTime();

  </script>

</body>

</html>